* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

/* Background image */
.background {
  height: 100%;
  background-image: url("images/computer.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background {
  animation: fadeIn 1.5s ease-in-out;
}

.login-card {
  animation: slideUp 1s ease-out;
}

.login-card input {
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.login-card input:focus {
  outline: none;
  border: 1px solid #1f3c88;
  box-shadow: 0 0 8px rgba(31, 60, 136, 0.4);
}

.login-card button {
  transition: transform0.2s ease, background 0.3s ease;
}

.login-card button:hover {
  transform: translateY(-2px);
}

.login-card button:active {
  transform: scale(0.97);
}

.footer-text a {
  position: relative;
}

.footer-text a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: #1f3c88;
  transition: width 0.3s ease;
}

.footer-text a:hover::after {
  width: 100%;
}


/* Dark overlay */
.background::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

/* Login card */
.login-card {
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  padding: 35px;
  width: 330px;
  border-radius: 10px;
  text-align: center;
}

.login-card h1 {
  color: #1f3c88;
  margin-bottom: 5px;
}

.subtitle {
  color: #666;
  margin-bottom: 20px;
}

/* Inputs */
.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button */
.login-card button {
  width: 100%;
  padding: 10px;
  background: #1f3c88;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-card button:hover {
  background: #162f6b;
}

/* Footer text */
.footer-text {
  margin-top: 15px;
  font-size: 14px;
}

.footer-text a {
  color: #1f3c88;
  text-decoration: none;
}
.footer-text a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
