body {
    background-color: #cfc9c9;
}

.icons {
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
}

.icons a:hover .layer span {
    transform: rotate(-35deg) skew(20deg);
}

.icons a .layer span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
}

.icons a:hover .layer span.fab{
    font-size: 30px;
    line-height: 55px;
    text-align: center;
}

.icons a:hover .layer span:nth-child(1) {
    opacity: 0.2;
}
.icons a:hover .layer span:nth-child(2) {
    opacity: 0.4; 
    transform: translate(5px, -5px); 
}
.icons a:hover .layer span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
}
.icons a:hover .layer span:nth-child(4) {
    opacity: 0.8;
    transform: translate(15px, -15px); 
}

.gallery {
  display: flex;
  gap: 20px;
}

.gallery img {
  width: 200px;
  border-radius: 10px;
}

/* Swing-in animation */
.swing-in {
  opacity: 0;
  transform: rotate(-15deg) translateY(-50px);
  transform-origin: top center;
  animation: swingIn 1s ease-out forwards;
}

/* Delays for staggered effect */
.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}

/* Keyframes */
@keyframes swingIn {
  0% {
    opacity: 0;
    transform: rotate(-15deg) translateY(-50px);
  }
  60% {
    opacity: 1;
    transform: rotate(10deg) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) translateY(0);
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Menu icon */
.menu-icon {
  font-size: 30px;
  padding: 15px;
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* hidden */
  width: 250px;
  height: 100%;
  background-color: #111;
  padding-top: 60px;
  transition: left 0.3s ease;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #575757;
}

/* Active sidebar */
.sidebar.active {
  left: 0;
}
