    *{
        margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

    body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .Logo {
      width: 310px;
    }

    .login-card {
      padding: 2rem;
      width: 100%;
      max-width: 380px;
      border-radius: 12px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      margin: 100px 0px;
      color: #333333c8;
    }

    .login-card p {
      text-align: center;
      color: #333333c8;
      margin-bottom: 1.5rem;
      font-size: 0.99rem;
    }

    .form-group {
      margin-bottom: 1rem;
    }

    .form-group label {
      display: block;
      margin-bottom: 0.3rem;
      font-size: 0.88rem;
      color: #6B7280;
      letter-spacing: 2px;

    }

    .form-group input {
      width: 100%;
      padding: 0.7rem;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 0.95rem;
      letter-spacing: 2px;
    }

    .form-group input:focus {
      outline: none;
      border-color: rgba(8, 84, 184, 0.695);
    }

    .login-btn {
      width: 100%;
      padding: 0.8rem;
      margin-top: 0.5rem;
      background: linear-gradient(135deg,#427de4,#8435d8);
      color: rgba(253, 253, 253, 0.944);
      border: none;
      border-radius: 6px;
      font-size: 1rem;
      cursor: pointer;
    }

    .login-btn:hover {
       background: linear-gradient(135deg,#6a11cb,#2575fc);
       transform: scale(1.05);
       transition: 0.3s;
    }

    .extra-links {
      margin-top: 1rem;
      text-align: center;
      font-size: 0.85rem;
    }

    .extra-links a {
      color: #0A66C2;
      text-decoration: none;
    }

    .extra-links a:hover {
      text-decoration: underline;
    }

    #password,
    #email {
      position: relative;
      background-color: rgba(232, 229, 229, 0.858);

    }

    #sign-up {
      margin-top: 10px;
      width: 100%;
      padding: 0.8rem;
      background: linear-gradient(135deg,#8435d8,#427de4);
      color: rgba(253, 253, 253, 0.944);
      border: none;
      border-radius: 6px;
      font-size: 1rem;
      text-decoration: none;
      cursor: pointer;
    }

    #sign-up:hover {
      background: linear-gradient(135deg,#2575fc,#6a11cb);
      transform: scale(1.05);
      transition: 0.3s;
    }

    #extra-links {
      color: white;
      text-decoration: none;
    }

    #agreements {
      width: 135%;
      margin-top: 15px;
      color: #333333c8;
      text-align: center;
    }

    #agreements a {
      color: #0A66C2;
      text-decoration: none;
    }

    #agreements a:hover {
      text-decoration: underline;
    }

    #agreements p {
      margin-right: 100px;
      font-size: 13px;
    }
